
.link-container {
  background-color: white;
  margin: 10px;
  padding: 5px;
  box-shadow: 0 0 5px 2px gray;
  max-height: 500px;
  overflow-y: scroll;
}


.link-card-container {
  position: relative;
  box-shadow: 0 0 4px 3px rgb(195, 193, 193);
  padding: 15px;
  margin: 20px 5px;
  border-radius: 4px;
}

.link-card-heading {
  margin: 3px;
  margin-bottom: 10px;
}


.link-card-target {
  font-weight: bold;
  margin-left: 30px;
  text-decoration: none;
  color: inherit;
}

.url-name {
  font-weight: bold;
}

.link-card-view {
  position: absolute;
  right: 40px;
  top: 40%;
  font-size: 18px;
}


.view-icon {
  width: 20px;
  position: absolute;
  top: 40%;
  right: 10px;
}


.link-icon {
  width: 20px;
  position: absolute;
  left: 10px;
}

.create-link-time {
  font-size: 12px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.copy-icon {
  width: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


@media (max-width: 600px) {
  .link-card-container {
    padding: 10px;
    margin: 15px 5px;
  }

  .link-card-heading {
    font-size: 16px;
    text-align: center;
  }

  .link-card-view {
    position: absolute;
    top: 5px;
    left: 50px; 
    margin-top: 5px;
    font-size: 17px;
  }

  .view-icon {
    position: absolute;
    top: 7px;
   left: 10px;
    margin-left: 5px;
  }

  .link-card-target {
    margin-left: 25px;
    display: block;
    word-break: break-word;
  }

  .link-icon {
    position: fixed;

    margin-right: 5px;
  }

  .create-link-time {
    position: static;
    display: block;
    text-align: right;
    margin-top: 10px;
  }

  .copy-icon {
    position: absolute;
    top: 4px;
    right: 10px;
  
  }
}
