
.link-container {
  background-color: #f8f9fa; 
  margin: 15px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  max-height: 500px;
  overflow-y: auto; 
  border-radius: 8px; 
}

.link-card-container {
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); 
  padding: 20px;
  margin: 15px 10px;
  border-radius: 8px; 
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #ffffff;
}

.link-card-container:hover {
  transform: translateY(-3px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
}

.link-card-heading {
  margin: 5px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 600; 
  color: #333; 
}

.link-card-target {
  font-weight: bold;
  margin-left: 30px;
  text-decoration: none;
  color: #007bff; 
  transition: color 0.3s; 
}

.link-card-target:hover {
  color: #0056b3; 
}

.url-name {
  font-weight: bold;
  font-size: 15px;
  color: #555; 
}

.link-card-view {
  position: absolute;
  right: 50px;
  top: 40%;
  font-size: 16px;
  color: #555; 
}
.short-icon{
  position: absolute;
  left: 10px;
  bottom: 15px;
  width:23px;
  font-size: 16px;
  color: #555;
}

.view-icon {
  width: 22px;
  position: absolute;
  top: 45%;
  right: 10px;
  transform: translateY(-50%); 
  cursor: pointer;
  transition: transform 0.2s; 
}

.view-icon:hover {
  transform: translateY(-50%) scale(1.1); 
}

.link-icon {
  width: 22px;
  position: absolute;
  left: 10px;
  top: 51%;
  transform: translateY(-50%); 
}

.create-link-time {
  font-size: 12px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #777; 
}

.copy-icon {
  width: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.3s;
}

.copy-icon:hover {
  transform: scale(1.1); 
  opacity: 0.8; 
}



@media (max-width: 600px) {
  .link-card-container {
    padding: 10px;
    margin: 15px 5px;
  }

  .link-card-heading {
    font-size: 16px;
    text-align: center;
  }

  .link-card-view {
    top: 5px;
    left: 50px;
    font-size: 20px; 
  }

  .view-icon {
    position: absolute;
    top: 15px;
   left: 10px;
    margin-left: 5px;
  }

  .link-card-target {
    margin-left: 40px;
    display: block;
    word-break: break-word;
  }

  .link-icon {
    width: 22px;
    position: absolute;
    left: 15px;
    top: 35%;

  }

  .create-link-time { 
    font-size: 16px;
  }

  .copy-icon {
    position: absolute;
    top: 4px;
    right: 10px;
  
  }
  .short-icon{
    left: 15px;
    bottom: 16%;
  }
}
