.signup-container{
    text-align: center;
    box-shadow: 0 0 7px 4px #ff8e3c;
    border-radius: 5px;
    background-color: #fffffe;
    width: 500px;
    height: 300px;
    display: block;
    margin:  40px auto;
    padding: 10px;
   
}
.input-box{
    border-radius: 5px;
    border: 2px solid black;
    font-size: 17px;
    width: 80%;
    padding:7px 10px;
    margin: 10px;
}

.input-box:focus , .input-box:active{
    outline: none;
}

.auth-btn{
    margin-top: 10px;
    font-weight: 600;
    font-size: 17px;
    background-color: #ff8e3c;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
}