.footer-container {
  background: linear-gradient(to right, #2ebf91, #8360c3); 
  padding: 5px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  color: white;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.footer-container:hover {
  box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.2);
}

.footer-title-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-heading {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 30px;
  color: white;
  transition: color 0.3s ease;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links a {
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-weight: 600;
  transition: color 0.3s ease;
}

.footer-icon {
  position: absolute;
  top: 31%;
  left: 7%;
  width: 45px;
}

.privacy-container{
   padding: 10px;
   margin: 5px;
   height: 100px;

}
.policy-item{
  display: flex;
  text-decoration: none;
  color: black;
  margin: 10px auto;
}

.copy{
  text-align: center;
  display: block;
 color: black;
}


@media (max-width: 500px) {
  .footer-container {
    display: block;
    text-align: center;
    padding: 25px 30px;
  }

  .footer-heading {
    font-size: 24px;
    text-align: center;
  }

  .footer-links {
    align-items: center;
  }

  .footer-icon {
    top: 18px;
    left: 25%;
    width: 40px;
  }
  .policy-item{
    display: block;
    text-decoration: none;
    color: black;
    margin: 10px auto;
  }
}
