.tiny-url-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .link-heading {
    color: #f38b30;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
  }
  
  .user-name{
    font-size: 23px;
    text-align: center;
    margin: 5px;
  
  }