.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff8e3c;
  padding: 10px 20px;
}

.navbar-heading {
  font-size: 24px;
  font-weight: bold;
}

.menu-icon {
  width: 30px;
  cursor: pointer;
  display: none; /* Initially hidden, will be shown on smaller screens */
}

.nav-item-container {
  display: flex;
  gap: 15px;
}

.nav-item {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 18px;
}

.nav-item:hover {
  color: white;
}

.logged-user {
  font-weight: normal;
}

.logout-btn {
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  color: darkred;
}

/* Media Queries */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-item-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #ff8e3c;
    padding: 10px;
    border-radius: 5px;
  }

  .nav-item-container.active {
    display: flex;
  }
}
