.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #2ebf91, #8360c3);
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

.navbar-container:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}


.navbar-heading {
  font-size: 26px;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.menu-icon {
  width: 30px;
  cursor: pointer;
  display: none;
}

.nav-item-container {
  display: flex;
  gap: 50px;
  transition: all 0.3s ease;
}

.nav-item {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 18px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-item::after {
  content: '';
  width: 0;
  height: 2px;
  background: black;
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}

.logged-user {
  font-weight: bold;
  color: white;
  font-size: 18px;
}

.logout-btn {
  margin-top: -10px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  background-color: white;
  color: #2ebf91;
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.logout-btn:hover {
  background-color:#2ebf91;
  color: white;
}

.logout-btn::after{
  position: absolute;
  bottom: -6px;
  left: 0;
}

@media (max-width: 500px) {
  .menu-icon {
    display: block;
  }

  .nav-item-container {
    gap: 40px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    backdrop-filter: blur(5px);
    padding: 15px;
    transform: translateY(-20px);
    opacity: 0;
    z-index: 100;
  }

  .nav-item-container.active {
    display: flex;
    transform: translateY(0);
    opacity: 1;
  }

  .nav-item {
    font-size: 16px;
    margin: 4px 0;
    font-size: 16px;
    color: black;
  }
  
  .logout-btn {
    margin-top: -10px;
    padding:6px 12px;
    background-color: white;
  }
  .logout-btn:hover {
    background-color:black;
    color: white;
  }
}
